<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header" style="padding-top: 0.6em; padding-right: 3em;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse" style="padding-left: 10em">
            <!-- Left Side Of Navbar -->
            <a href="#!/" class="btn navbar-btn" ng-class="{ active: isActive('/') }" role="button">Inicio</a>

            <div class="btn-group">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BL-Master
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!/BL-Master" ng-class="{ active: isActive('/BL-Master') }" role="button">Nuevo BL-Master</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#!/buscarBLMaster" ng-class="{ active: isActive('/buscarBLMaster') }" role="button">Buscar BL-Master</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">BL-House
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!/BL-House" ng-class="{ active: isActive('/BL-Master') }" role="button">Nuevo BL-House</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#!/buscarBLHouse" ng-class="{ active: isActive('/buscarBLMaster') }" role="button">Buscar BL-House</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-right">
                <a href="#" class="btn navbar-btn" role="button">Mi cuenta</a>
                <a href="#/" class="btn navbar-btn" role="button">Salir</a>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-controller="BLHouseController">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Crear BL-House</h4>
            </div>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header" style="padding-top: 0.6em; padding-right: 3em;">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse-blhouse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="app-navbar-collapse-blhouse" style="padding-left: 10em">
                        <!-- Left Side Of Navbar -->
                        <a href="#!/BL-House" class="btn navbar-btn" ng-class="{ active: isActive('/BL-House') }" role="button">1.Cabecera</a>
                        <a href="#!/descripcion" class="btn navbar-btn" ng-class="{ active: isActive('/descripcion') }" role="button">2.Descripción</a>
                        <a href="#!/ingresos" class="btn navbar-btn" ng-class="{ active: isActive('/ingresos') }" role="button">3.Ingresos</a>
                    </div>
                </div>
            </nav>
            <div class="panel-body">

                <div class="panel-body1">
                    <div class="content col-md-12">
                        <br>
                        <ul>N° de operación: <b> {{numeroOperacion}}</b></ul>
                        <ul>N° BL House: <b></b></ul>
                        <ul>N° BL Master:<b> </b></ul>
                    </div>
                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">

                        <ul class="col-md-12">
                            <hr>
                            <div class="col-md-6"><label class="col-md-4">Tipo House:</label>

                                <select ng-model="newBLMaster.tipoNegocio" class="col-md-8 withoutSearch" name="tipoHouse">
                                    <option value="BLHijo" selected="selected">BL Hijo</option>
                                    <option value="BLNieto">BL Nieto</option>
                                </select>

                            </div>
                        </ul>


                        <ul class="col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Shipper</label>
                                <select  ng-model="newBLMaster.naviera" class="col-md-8 shipperSelect" >
                                    <option ng-repeat=""
                                            value="{{}}">{{}}
                                    </option>
                                </select></div>
                        </ul>
                        <ul class="col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Cliente extranjero:</label>
                                <select  ng-model="newBLMaster.nave" class="col-md-8  clienteSelect">
                                    <option ng-repeat="nav in naves"
                                            value="{{nav.id}}">{{nav.nombre}}
                                    </option>
                                </select>
                            </div>
                        </ul>
                        <ul class="col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Notify:</label>
                                <select  ng-model="newBLMaster.nave" class="col-md-8  notifySelect">
                                    <option ng-repeat="nav in naves"
                                            value="{{nav.id}}">{{nav.nombre}}
                                    </option>
                                </select>
                            </div>
                        </ul>
                    </div>

                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <ul class="col-md-12">
                            <hr>
                            <div class="col-md-6"><label class="col-md-4">PP/CC:</label>

                                <select ng-model="newBLMaster.tipoNegocio" class="col-md-8 withoutSearch" name="pp/ccHouse">
                                    <option value="prepaid" selected="selected">Prepaid</option>
                                    <option value="collect">Collect</option>
                                </select>

                            </div>
                            <div class="col-md-6"><label class="col-md-4">Moneda:</label>

                                <select ng-model="newBLMaster.tipoNegocio" class="col-md-8 withoutSearch" name="monedaHouse">
                                    <option value="Dolar USA" selected="selected">Dolar USA</option>
                                    <option value="pesos">CLP</option>
                                </select>
                            </div>
                        </ul>
                        <ul class="col-md-12">
                                <div class="col-md-6"><label class="col-md-4">Flete:</label>
                                    <input class="col-md-7" type="text" name="Flete">
                                </div>
                        </ul>
                        <ul class="col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Carga:</label>
                            <select ng-model="newBLMaster.tipoNegocio" class="col-md-8 withoutSearch" name="tipoCargo">
                                <option value="general" selected="selected">General</option>
                                <option value="imo">IMO</option>
                            </select>
                        </div>
                            <div class="col-md-6"><label class="col-md-4">Kilos:</label>
                                <input class="col-md-7" type="text" name="Kilos">
                            </div>
                            </ul>
                        <ul  class="col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Tipo de carga:</label>
                                <select class="col-md-8 withoutSearch" name="tipoCarga">
                                    <option value="General" selected="selected">General</option>
                                    <option value="IMO">IMO</option>
                                </select>
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Volumen:</label>
                                <input class="col-md-7" type="text" name="Volumen">
                            </div>

                        </ul>
                    </div>
                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <ul class="col-md-12">
                            <hr>
                            <div class="col-md-6"><label class="col-md-4">IMO Clase:</label>
                                <input class="col-md-7" type="text" name="IMOclase">
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-5">IMO Número:</label>
                                <input class="col-md-7" type="text" name="IMOnumero">
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <ul class="col-md-12">
                            <hr>
                            <div class="col-md-6"><label class="col-md-4">Almacenista:</label>
                                <select ng-model="newBLMaster.agenteCreador" class="col-md-8 almacenistaSelect"
                                        name="almacenista">
                                    <option ng-repeat="e in empresas"
                                            value="{{e.nombre_abrev}}">{{e.nombre_abrev}}
                                    </option>
                                </select>
                            </div>
                        </ul>
                        <ul class="content col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4">Pre-carriage:</label>
                                <input class="col-md-7" type="text" name="Pre-carriage">
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4">Lugar de recepción:</label>
                                <input class="col-md-7" type="text" name="lugarDeRecepcion">
                            </div>
                        </ul>
                        <ul class="content col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Destino:</label>
                                <select ng-model="newBLMaster.agenteCreador" class="col-md-8 destinoSelect"
                                        name="almacenista">
                                    <option ng-repeat="e in empresas"
                                            value="{{e.nombre_abrev}}">{{e.nombre_abrev}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Tipo de movimiento:</label>
                                <select class="col-md-8 withoutSearch" name="tipoCarga">
                                    <option value="LCL/LCL" selected="selected">LCL/LCL</option>
                                    <option value="FCL/FCL">FCL/FCL</option>
                                </select>
                            </div>
                        </ul>
                        <ul class="content col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Contacto:</label>
                                <input ng-model="newBLMaster.contacto" class="col-md-8" type="text" name="contacto">
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Telefono:</label>
                                <input ng-model="newBLMaster.telefono" class="col-md-8" type="text" name="telefono">
                            </div>
                        </ul>
                        <ul class="content col-md-12">
                            <div class="col-md-5">
                                <label class="col-md-5">Fecha stacking:</label>
                                <input  ng-model="fechaStackingAux" class="col-md-6" type="date" name="fechaStacking">
                            </div>
                            <div class="col-md-5">
                                <label class="col-md-5">Hora stacking:</label>
                                <input  ng-model="horaStackingAux" class="col-md-3" type="time" name="horaStacking">
                            </div>
                        </ul>
                        <ul class="content col-md-12">
                            <div class="col-md-6"><label class="col-md-4">Observación:</label>
                                <input ng-model="newBLMaster.observacion" class="col-md-6" type="text" name="observacion">
                            </div>
                        </ul>
                    </div>
                </div>

                <ul>
                    <input class="btn btn-primary btn-sm" type="button" value="Reserva">
                    <!--<button type="button" class="btn btn-primary btn-sm">Ver Houses</button>-->
                    <input class="btn btn-primary btn-sm" ng-click="send()" type="submit"  type="button" value="Guardar">
                    <input class="btn btn-primary btn-sm" type="button" value="Cancelar">
                </ul>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('.withoutSearch').select2({
                        minimumResultsForSearch: -1
                    });
                });
                $(document).ready(function () {
                    $('.shipperSelect').select2();
                });
                $(document).ready(function () {
                    $('.clienteSelect').select2();
                });
                $(document).ready(function () {
                    $('.notifySelect').select2();
                });
                $(document).ready(function () {
                    $('.almacenistaSelect').select2();
                });
                $(document).ready(function () {
                    $('.destinoSelect').select2();
                });
                $(document).ready(function () {
                    $('.reservaNavieraSelect').select2();
                });
                $(document).ready(function () {
                    $('.reservaInternaSelect').select2();
                });
                $(document).ready(function () {
                    $('.destinoSelect').select2();
                });
            </script>

        </div>
    </div>
</div>