<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Argus</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="INICIO">
                <a class="nav-link" href="#!/home">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">Inicio</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="BL-Master">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseBLMaster" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-ship"></i>
                    <span class="nav-link-text">Operación</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseBLMaster">
                    <li>
                        <a href="#!/BL-Master">Nueva Operación</a>
                    </li>
                    <li>
                        <a href="#!/buscarBLMaster">Buscar Operación</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseBLHouse" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-truck"></i>
                    <span class="nav-link-text">BL-House</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseBLHouse">
                    <li>
                        <a href="#!/buscarBLHouse">buscar BL-House</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseAgregar" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-plus-square"></i>
                    <span class="nav-link-text">Agregar</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseAgregar">
                    <li>
                        <a href="#!/agregarCiudad">Ciudad</a>
                    </li>
                    <li>
                        <a href="#!/agregarCobro">Cobro</a>
                    </li>
                    <li>
                        <a href="#!/agregarNave">Nave</a>
                    </li>
                    <li>
                        <a href="#!/agregarEmpresa">Empresa</a>
                    </li>
                    <li>
                        <a href="#!/agregarPuerto">Puerto</a>
                    </li>
                    <li>
                        <a href="#!/agregarNaviera">Naviera</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseRenta" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-dollar"></i>
                    <span class="nav-link-text">Rentabilidad</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseRenta">
                    <li>
                        <a href="#!/rentaBuscar">Operaciones</a>
                    </li>
                    
                </ul>
                
            </li>
        </ul>
        
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper" >
    <div class="container-fluid" ng-controller="BLHouseController">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Crear BL-House</h4>
            </div>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header" style="padding-top: 0.6em; padding-right: 3em;">
                        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse-blhouse">
                            <i class="fa fa-fw fa-angle-down"></i>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>-->
                    </div>


                    <ul class="nav nav-pills">
                        <li class="active"><a href="#!/BL-House/{{numeroOperacion}}" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/BL-House') }" role="button">1.Cabecera</a></li>
                        <li><a href="#!/descripcion" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/descripcion') }" role="button">2.Descripción</a></li>
                        <li><a href="#!/ingresos" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/ingresos') }" role="button">3.Ingresos</a></li>

                    </ul>
                    <!--
                    <div class="" id="app-navbar-collapse-blhouse" style="padding-left: 10em">

                        <a href="#!/BL-House/{{numeroOperacion}}" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/BL-House') }" role="button">1.Cabecera</a>
                        <a href="#!/descripcion" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/descripcion') }" role="button">2.Descripción</a>
                        <a href="#!/ingresos" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/ingresos') }" role="button">3.Ingresos</a>
                    </div>
                    -->
                </div>
            </nav>
            <div class="panel-body">

                <div class="panel-body1">
                    <div class="content col-md-12">
                        <br>
                        <ul>N° de operación: <b>{{numeroOperacion}}</b></ul>
                        <ul>N° BL House: <b>{{numeroBLHouse}}</b></ul>
                        <ul>N° BL Master:<b>{{numeroBLMaster}}</b></ul>
                    </div>
                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <ul class="input-group">
                            <hr>
                            <div class="col-md-6"><label class="col-md-4">Tipo House:</label>
                                <select ng-model="newBLHouse.tipoHouse" class="col-md-8 withoutSearch" name="tipoHouse">
                                    <option value="BLHijo" selected="selected">BL Hijo</option>
                                    <option value="BLNieto">BL Nieto</option>
                                </select>
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Shipper</label>
                                <select  ng-model="newBLHouse.shipper" class="col-md-8 shipperSelect" >
                                    <option ng-repeat="ship in empresas"
                                            value="{{ship.id}}">{{ship.nombreAbrev}}
                                    </option>
                                </select></div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-6">Cliente extranjero:</label>
                                <select  ng-model="newBLHouse.clienteExtranjero" class="col-md-8  clienteSelect">
                                    <option ng-repeat="cli in empresas"
                                            value="{{cli.id}}">{{cli.nombreAbrev}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Notify:</label>
                                <select  ng-model="newBLHouse.notify" class="col-md-8  notifySelect">
                                    <option ng-repeat="noti in empresas"
                                            value="{{noti.id}}">{{noti.nombreAbrev}}
                                    </option>
                                </select>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <ul class="input-group">

                            <div class="col-md-6"><label class="col-md-4">PP/CC:</label>

                                <select ng-model="newBLHouse.ppcc" class="col-md-8 withoutSearch" name="pp-cc">
                                    <option value="prepaid" selected="selected">Prepaid</option>
                                    <option value="collect">Collect</option>
                                </select>

                            </div>
                            <div class="col-md-6"><label class="col-md-4">Moneda:</label>

                                <select ng-model="newBLHouse.moneda" class="col-md-8 withoutSearch" name="monedaHouse">
                                    <option value="Dolar USA" selected="selected">Dolar USA</option>
                                    <option value="pesos">CLP</option>
                                </select>
                            </div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-4">Bultos:</label>
                                <input ng-model="newBLHouse.bultos" class="col-md-8" type="text" name="bultos" >
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Carga:</label>
                                <select ng-model="newBLHouse.carga" class="col-md-8 withoutSearch" name="tipoCarga" id="inputSelect">
                                    <option value="General" selected="selected">General</option>
                                    <option value="IMO">IMO</option>
                                </select>
                            </div>
                        </ul>
                    </div>
                </div>
                        <div class="panel-body1">
                            <div class="content col-md-12">
                            <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-2">Kilos:</label>
                                <input ng-model="newBLHouse.kilos" class="col-md-3" type="number" name="Kilos" ><label class="col-md-2">KGs</label>
                            </div>
                                <div class="col-md-6"><label class="col-md-3">Volumen:</label>
                                    <input ng-model="newBLHouse.volumen" class="col-md-3" type="number" name="Volumen"><label class="col-md-2">M<sup>3</sup></label>
                                </div>
                        </ul>
                                <ul class="input-group">
                                <div class="col-md-6"><label class="col-md-2">Flete:</label>
                                    <input ng-model="newBLHouse.flete" class="col-md-7" type="text" name="Flete">
                                </div>
                                </ul>
                            </div>
                        </div>


                <div class="panel-body1" id="divCarga">
                    <div class="content col-md-12">
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-6">IMO Clase:</label>
                                <input class="col-md-7" type="text" ng-model="newBLHouse.imoClase" name="IMOclase">
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-6">IMO Número:</label>
                                <input class="col-md-7" ng-model="newBLHouse.imoNumero" type="text" name="IMOnumero">
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-4">Almacenista:</label>
                                <select ng-model="newBLHouse.almacenista" class="col-md-8 almacenistaSelect" name="almacenista">
                                    <option ng-repeat="e in empresas"
                                            value="{{e.id}}">{{e.nombreAbrev}}
                                    </option>
                                </select>
                            </div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-6">
                                <label class="col-md-6">Pre-carriage:</label>
                                <input ng-model="newBLHouse.preCarriage" class="col-md-7" type="text" name="Pre-carriage">
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-6">Lugar de recepción:</label>
                                <input ng-model="newBLHouse.lugarRecepcion" class="col-md-7" type="text" name="lugarDeRecepcion">
                            </div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-6">Destino:</label>
                                <select ng-model="newBLHouse.ciudadLlegada" class="col-md-8 destinoSelect" name="destino">
                                    <option ng-repeat="e in ciudades"
                                            value="{{e.id}}">{{e.nombre}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6"><label class="col-md-6">Tipo de movimiento:</label>
                                <select ng-model="newBLHouse.tipoMovimiento" class="col-md-8 withoutSearch" name="tipoCarga">
                                    <option value="LCL/LCL" selected="selected">LCL/LCL</option>
                                    <option value="FCL/FCL">FCL/FCL</option>
                                </select>
                            </div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-4">Contacto:</label>
                                <input ng-model="newBLHouse.contacto" class="col-md-8" type="text" name="contacto">
                            </div>
                            <div class="col-md-6"><label class="col-md-4">Telefono:</label>
                                <input ng-model="newBLHouse.telefono" class="col-md-8" type="text" name="telefono">
                            </div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-5">
                                <label class="col-md-6">Fecha stacking:</label>
                                <input  ng-model="newBLHouse.fechaStacking" class="col-md-6" type="date" name="fechaStacking">
                            </div>
                            <div class="col-md-5">
                                <label class="col-md-6">Hora stacking:</label>
                                <input  ng-model="newBLHouse.horaStacking" class="col-md-6" type="time" value="17:00">
                            </div>
                        </ul>
                        <ul class="input-group">
                            <div class="col-md-6"><label class="col-md-6">Observación:</label>
                                <input ng-model="newBLHouse.observacion" class="col-md-12" type="text" name="observacion">
                            </div>
                        </ul>
                    </div>
                </div>

                <ul>
                    <input class="btn btn-primary btn-sm" type="button" value="Reserva">
                    <!--<button type="button" class="btn btn-primary btn-sm">Ver Houses</button>-->
                    <input class="btn btn-primary btn-sm" ng-click="send()" type="submit"  type="button" value="Guardar">
                    <input class="btn btn-primary btn-sm" type="button" value="Cancelar">
                </ul>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $('.withoutSearch').select2({
                        minimumResultsForSearch: -1
                    });
                });
                $(document).ready(function () {
                    $('.shipperSelect').select2();
                });
                $(document).ready(function () {
                    $('.clienteSelect').select2();
                });
                $(document).ready(function () {
                    $('.notifySelect').select2();
                });
                $(document).ready(function () {
                    $('.almacenistaSelect').select2();
                });
                $(document).ready(function () {
                    $('.destinoSelect').select2();
                });
                $(document).ready(function () {
                    $('.reservaNavieraSelect').select2();
                });

            </script>

    <script>
        $(function() {
            $("#inputSelect").on('change', function() {

                var selectValue = $(this).val();

                    if (selectValue == "IMO") {
                        $("#divCarga").show();
                    }
                    else{
                        $("#divCarga").hide();
                    }
                //console.log(selectValue);

            }).change();

        });
    </script>
        </div>
    </div>
</div>