<div class="container" ng-controller="buscarBLMastercontroller">

    <input type="search" id="buscar" name="q">
    <button>Buscar</button>
    <table style="width:100%">
        <tr>
            <th>Número de operación</th>
            <th>Creado por</th>
            <th>Fecha Ingreso</th>
        </tr>
        <tr ng-repeat=" BL in BLMaster ">
            <td>{{BL.numeroOperacion}}</td>
            <td>{{BL.agenteCreador}}</td>
            <td>{{BL.fechaIngreso}}</td>
        </tr>
    </table>
    <!--<h1>{{BLMaster[0].numeroOperacion}}</h1>-->
</div>