<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Argus</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="INICIO">
                <a class="nav-link" href="#!/home">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text">Inicio</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="BL-Master">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseBLMaster" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-ship"></i>
                    <span class="nav-link-text">BL-Master</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseBLMaster">
                    <li>
                        <a href="#!/BL-Master">Nuevo BL-Master</a>
                    </li>
                    <li>
                        <a href="#!/buscarBLMaster">Buscar BL-Master</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseBLHouse" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-truck"></i>
                    <span class="nav-link-text">BL-House</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseBLHouse">
                    <li>
                        <a href="#!/BL-House">Nuevo BL-House</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseAgregar" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-plus-square"></i>
                    <span class="nav-link-text">Agregar</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseAgregar">
                    <li>
                        <a href="#!/agregarCiudad">Ciudad</a>
                    </li>
                    <li>
                        <a href="#!/agregarCliente">Cliente</a>
                    </li>
                    <li>
                        <a href="#!/agregarNave">Nave</a>
                    </li>
                    <li>
                        <a href="#!/agregarEmpresa">Empresa</a>
                    </li>
                    <li>
                        <a href="#!/agregarPuerto">Puerto</a>
                    </li>
                    <li>
                        <a href="#!/agregarNaviera">Naviera</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper" >
    <div class="container-fluid" ng-controller="BLHouseController">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Crear BL-House</h4>
            </div>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header" style="padding-top: 0.6em; padding-right: 3em;">
                        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse">
                            <i class="fa fa-fw fa-angle-down"></i>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>-->
                    </div>

                    <div class="" id="app-navbar-collapse" style="padding-left: 10em">
                        <!-- Left Side Of Navbar -->
                        <a href="#!/BL-House" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/') }" role="button">1.Cabecera</a>
                        <a href="#!/descripcion" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/descripcion') }" role="button">2.Descripción</a>
                        <a href="#!/ingresos" class="btn btn-primary btn-sm" ng-class="{ active: isActive('/') }" role="button">3.Ingresos</a>
                    </div>
                </div>
            </nav>
            <div class="panel-body">
                <div class="panel-body1">
                    <div class="content col-md-12">
                        <br>
                        <ul>N° de operación: <b> {{numeroOperacion}}</b></ul>
                        <ul>N° BL House: <b></b></ul>
                        <ul>N° BL Master:<b> </b></ul>
                    </div>
                </div>
                <form action="admin/crud/insertar/inserta-lineasoferta.php" method="POST">
                    <table class="table table-bordered" id="tablaresponsive">
                        <thead>
                        <tr>
                            <th>Contenedor</th>
                            <th>Mark and numbers</th>
                            <th>Number of packages</th>
                            <th>Description of goods</th>
                            <th>Groos weight</th>
                            <th>Measurement</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td>
                                <select ng-model="newBLMaster.destino" class="form-control contenedorSelect" name="contenedor">
                                    <option ng-repeat="puerto in puertos"
                                            value="{{puerto.nombre}}">{{puerto.nombre}}
                                    </option>
                                </select>
                            </td>
                            <td><input type ="text" name="markAndNumbers[]"  class="form-control"></td>
                            <td><input type ="text" name="numberPackages[]"  class="form-control"></td>
                            <td><input type ="text" name="descriptionGoods[]"  class="form-control"></td>
                            <td><input type="text" name="groosWeight[]" class="form-control"></td>
                            <td><input type="text" name="measurement[]" class="form-control"></td>
                            <td><button type="button" class="eliminalinea">eliminar</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" id="nuevalinea" class="btn btn-danger">Nueva Linea</button>
                    <input type="submit" name="guardar" class="btn btn-success">
                </form>
            </div>
            <script>
                $(document).ready(function () {
                $('.contenedorSelect').select2();
                });
            </script>
            <script>
                $(document).ready(function(){
                    $("#nuevalinea").click(function(){
                        var clonarfila= $("#tablaresponsive").find("tbody tr:last").clone();
                        $("table tbody").append(clonarfila);
                    });

                    $("#tablaresponsive").on('click', '.eliminalinea', function () {
                        var numeroFilas = $("#tablaresponsive tr").length;
                        if(numeroFilas>2){
                            $(this).closest('tr').remove();
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>